# Get carbon intensity by country

We get our carbon intensity from [Our World In Data](https://ourworldindata.org/grapher/carbon-intensity-electricity).

The data source and processing are available on [OWID Github](https://github.com/owid/energy-data).

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/owid/energy-data/master/owid-energy-data.csv")
df

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22007,Zimbabwe,2018,ZWE,15052191.0,2.271535e+10,NaN,NaN,NaN,NaN,25.910,...,0.218,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22008,Zimbabwe,2019,ZWE,15354606.0,NaN,NaN,NaN,NaN,NaN,24.748,...,0.364,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22009,Zimbabwe,2020,ZWE,15669663.0,NaN,NaN,NaN,NaN,NaN,22.336,...,0.395,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22010,Zimbabwe,2021,ZWE,15993525.0,NaN,NaN,NaN,NaN,NaN,23.760,...,0.498,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22011,Zimbabwe,2022,ZWE,16320539.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.query("country == 'India'")

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
9166,India,1900,IND,2.807142e+08,2.716975e+11,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9167,India,1901,IND,2.818341e+08,2.773278e+11,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9168,India,1902,IND,2.831998e+08,3.006720e+11,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9169,India,1903,IND,2.848130e+08,3.047644e+11,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9170,India,1904,IND,2.864353e+08,3.060750e+11,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9284,India,2018,IND,1.369003e+09,8.835758e+12,33.945,5.170,14.902,20.401,19.883,...,2.301,1.058,14.596,19.505,159.567,44.054,60.31,116.557,3.820,1.757
9285,India,2019,IND,1.383112e+09,NaN,11.529,2.352,16.451,22.753,22.782,...,2.853,1.310,4.979,7.327,166.895,45.774,63.31,120.666,3.903,1.792
9286,India,2020,IND,1.396387e+09,NaN,-1.031,-0.235,16.126,22.518,23.589,...,3.755,1.747,-4.560,-8.195,158.700,43.276,60.43,113.650,3.867,1.799
9287,India,2021,IND,1.407564e+09,NaN,39.907,8.986,22.382,31.505,25.200,...,3.986,1.865,12.688,19.481,178.181,48.374,68.09,126.588,3.973,1.859
9288,India,2022,IND,1.417173e+09,NaN,14.897,4.693,25.542,36.198,25.755,...,5.178,2.451,2.865,4.437,182.617,49.429,70.05,128.860,3.811,1.804

In [4]:
elec_col = [c for c in df.columns.to_list() if "_electricity" in c]
nuke_col = [c for c in elec_col if "nuclear" in c]
nuke_col

['nuclear_electricity']

In [5]:
carbon_intensity_col = [c for c in df.columns.to_list() if "intensity" in c]

In [6]:
df[['country', 'iso_code', 'year'] + carbon_intensity_col + elec_col].query("iso_code=='FRA' and year==2021")

,country,iso_code,year,carbon_intensity_elec,biofuel_electricity,coal_electricity,fossil_electricity,gas_electricity,hydro_electricity,low_carbon_electricity,nuclear_electricity,oil_electricity,other_renewable_electricity,other_renewable_exc_biofuel_electricity,per_capita_electricity,renewables_electricity,solar_electricity,wind_electricity
7353,France,FRA,2021,67.39,9.6,5.44,48.66,33.36,59.62,501.72,379.36,9.86,10.18,0.58,8528.864,122.36,15.73,36.83

In [7]:
df_filtered = df[['country', 'iso_code', 'year'] + carbon_intensity_col + elec_col].query("year==2021 and iso_code.notnull()")
columns_names = {
    'country':'country_name',
    'carbon_intensity_elec':'carbon_intensity',
    'biofuel_electricity':'biofuel_TWh',
    'coal_electricity':'coal_TWh',
    'fossil_electricity':'fossil_TWh',
    'gas_electricity':'gas_TWh',
    'hydro_electricity':'hydroelectricity_TWh',
    'low_carbon_electricity':'low_carbon_TWh',
    'nuclear_electricity':'nuclear_TWh',
    'oil_electricity':'oil_TWh',
    'other_renewable_electricity':'other_renewable_TWh',
    'other_renewable_exc_biofuel_electricity':'other_renewable_exc_biofuel_TWh',
    'per_capita_electricity':'per_capita_Wh',
    'renewables_electricity':'renewables_TWh',
    'solar_electricity':'solar_TWh',
    'wind_electricity':'wind_TWh'
}
df_filtered.rename(columns=columns_names, inplace=True)
df_filtered = df_filtered[['country_name',
                        'iso_code',
                        'year',
                        'carbon_intensity',
                        'fossil_TWh',
                        'renewables_TWh',
                        'per_capita_Wh',
                        'coal_TWh',
                        'gas_TWh',
                        'oil_TWh',
                        'solar_TWh',
                        'wind_TWh',
                        'hydroelectricity_TWh',
                        'other_renewable_TWh',
                        'other_renewable_exc_biofuel_TWh',
                        'nuclear_TWh',
                        'biofuel_TWh',
                        'low_carbon_TWh']]
df_filtered.head(5)

,country_name,iso_code,year,carbon_intensity,fossil_TWh,renewables_TWh,per_capita_Wh,coal_TWh,gas_TWh,oil_TWh,solar_TWh,wind_TWh,hydroelectricity_TWh,other_renewable_TWh,other_renewable_exc_biofuel_TWh,nuclear_TWh,biofuel_TWh,low_carbon_TWh
144,Afghanistan,AFG,2021,120.482,0.13,0.70,20.699,0.0,0.00,0.13,0.08,0.00,0.62,0.00,0.0,0.0,0.00,0.70
587,Albania,ALB,2021,23.437,0.00,8.96,3138.673,0.0,0.00,0.00,0.07,0.00,8.89,0.00,0.0,0.0,0.00,8.96
709,Algeria,DZA,2021,498.904,76.62,0.91,1754.947,0.0,71.40,5.22,0.81,0.01,0.09,0.00,0.0,0.0,0.00,0.91
752,American Samoa,ASM,2021,687.500,0.16,0.00,3551.136,0.0,0.00,0.16,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.00
874,Angola,AGO,2021,195.983,4.77,11.66,476.180,0.0,2.01,2.76,0.02,0.00,11.50,0.14,0.0,0.0,0.14,11.66

In [8]:
columns_to_sum = ["fossil_TWh", "renewables_TWh", "nuclear_TWh"]
df_filtered['total_TWh'] = df_filtered[columns_to_sum].sum(axis=1)
df_filtered.head(2)

,country_name,iso_code,year,carbon_intensity,fossil_TWh,renewables_TWh,per_capita_Wh,coal_TWh,gas_TWh,oil_TWh,solar_TWh,wind_TWh,hydroelectricity_TWh,other_renewable_TWh,other_renewable_exc_biofuel_TWh,nuclear_TWh,biofuel_TWh,low_carbon_TWh,total_TWh
144,Afghanistan,AFG,2021,120.482,0.13,0.70,20.699,0.0,0.0,0.13,0.08,0.0,0.62,0.0,0.0,0.0,0.0,0.70,0.83
587,Albania,ALB,2021,23.437,0.00,8.96,3138.673,0.0,0.0,0.00,0.07,0.0,8.89,0.0,0.0,0.0,0.0,8.96,8.96

In [9]:
df_filtered.query("iso_code=='FRA'")

,country_name,iso_code,year,carbon_intensity,fossil_TWh,renewables_TWh,per_capita_Wh,coal_TWh,gas_TWh,oil_TWh,solar_TWh,wind_TWh,hydroelectricity_TWh,other_renewable_TWh,other_renewable_exc_biofuel_TWh,nuclear_TWh,biofuel_TWh,low_carbon_TWh,total_TWh
7353,France,FRA,2021,67.39,48.66,122.36,8528.864,5.44,33.36,9.86,15.73,36.83,59.62,10.18,0.58,379.36,9.6,501.72,550.38

In [10]:
df_filtered.query("iso_code=='BGD'")

,country_name,iso_code,year,carbon_intensity,fossil_TWh,renewables_TWh,per_capita_Wh,coal_TWh,gas_TWh,oil_TWh,solar_TWh,wind_TWh,hydroelectricity_TWh,other_renewable_TWh,other_renewable_exc_biofuel_TWh,nuclear_TWh,biofuel_TWh,low_carbon_TWh,total_TWh
2124,Bangladesh,BGD,2021,555.914,79.18,1.39,475.743,9.56,56.35,13.27,0.47,0.01,0.88,0.03,0.0,0.0,0.03,1.39,80.57

renewables_Twh = hydroelectricity_Twh + wind_Twh + solar_Twh + other_renewable_Twh

RTE Production

![RTE](2023-07-07-22-40-48.png)

In [11]:
# French electricity consumption in 2021 from https://ourworldindata.org/grapher/elec-mix-bar?stackMode=absolute&facet=metric&country=~FRA
# 57 TWh fossil + 297 TWh nuclear + 115 TWh renewable = 469 TWh
# From https://bilan-electrique-2021.rte-france.com/# we read 522 TWh for Production, but 468 TWh of consumption.
# Here we found 550 TWh, which is not the same !

assert df_filtered.query("iso_code=='FRA'")["total_TWh"].values[0] == 550.38

In [12]:
energy_mix = {}
for code in df_filtered['iso_code'].unique():
#for code in ['FRA', 'AFG', 'VNM']:
    # print(code)
    df=df_filtered.query("iso_code == @code")
    max_year = df.year.max()
    #if df.isnull().values.any() == False:
    if len(df)>0 and not np.isnan(df.loc[df.year == max_year].iloc[0]["carbon_intensity"]):
        energy_mix[code]=df.loc[df.year == max_year].iloc[0].to_dict()
    else:
        print(f"Warning: missing carbon_intensity value for {code} - {df.iloc[0].country_name}.")
energy_mix['USA']

Warning: missing carbon_intensity value for ATA - Antarctica.
Warning: missing carbon_intensity value for BMU - Bermuda.
Warning: missing carbon_intensity value for GUF - French Guiana.
Warning: missing carbon_intensity value for GIB - Gibraltar.
Warning: missing carbon_intensity value for GLP - Guadeloupe.
Warning: missing carbon_intensity value for MTQ - Martinique.
Warning: missing carbon_intensity value for FSM - Micronesia (country).
Warning: missing carbon_intensity value for ANT - Netherlands Antilles.
Warning: missing carbon_intensity value for NIU - Niue.
Warning: missing carbon_intensity value for MNP - Northern Mariana Islands.
Warning: missing carbon_intensity value for REU - Reunion.
Warning: missing carbon_intensity value for SHN - Saint Helena.
Warning: missing carbon_intensity value for TUV - Tuvalu.
Warning: missing carbon_intensity value for ESH - Western Sahara.

{'country_name': 'United States',
 'iso_code': 'USA',
 'year': 2021,
 'carbon_intensity': 379.26,
 'fossil_TWh': 2512.39,
 'renewables_TWh': 861.58,
 'per_capita_Wh': 12325.368,
 'coal_TWh': 898.0,
 'gas_TWh': 1579.19,
 'oil_TWh': 35.2,
 'solar_TWh': 164.42,
 'wind_TWh': 378.2,
 'hydroelectricity_TWh': 246.47,
 'other_renewable_TWh': 72.49,
 'other_renewable_exc_biofuel_TWh': 18.24,
 'nuclear_TWh': 779.65,
 'biofuel_TWh': 54.25,
 'low_carbon_TWh': 1641.23,
 'total_TWh': 4153.62}

In [13]:

np.isnan(df_filtered.loc[df_filtered.iso_code == "GUF"].iloc[0]["carbon_intensity"])

True

In [14]:
import json
with open("global_energy_mix.json", "w") as outfile:
    json.dump(energy_mix, outfile, indent=4, sort_keys=True)

We need only the last available indicator for the columns `carbon_intensity_elec`, not the history, `year` is just an indicator of the freshness.

If we don't have `carbon_intensity` it could be computed, but we prefer to not have to do it.

We could keep `*_electricity` to have the electricity mix in `TWh` but it is not mandatory.

So, we have to:
1. Filter for the last available year
1. Check if we not loose country we previously had.
1. Keep only the data we need
1. Export to JSON